.btn-primary{
    box-shadow: 0 0 2rem transparentize($blue, 1);
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
    z-index: 0;
    font-weight: 500;

    &:hover,
    &:focus{
        box-shadow: 0 0 3rem transparentize($blue, 0.3);

        &::before{
            transform: scale(1.05 , 1.1);
        }
    }

    &::before{
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: $blue;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: inherit;
        transform: scale(1);
        transition: transform 0.2s ease-in-out;
    }
}

.btn-outline{
    font-weight: 500;
    position: relative;
    z-index: 0;
    padding-top: 0.9em;
    padding-bottom: 0.9em;

    &[disabled],
    &.disabled{
        border-color: transparent;
    }

    &[target=_blank]{
        padding-right: 3.5em !important;
        position: relative;
    
        &::after {
            font-family: $font-icon;
            content: 'open_in_new';
            font-size: 1.45em;
            font-weight: 300;
            position: absolute;
            right: 1.2em;
            top: calc(50% - 0.8em);
            color: $blue;
        }    
    }

    &::before{
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: $white;
        border: 2px solid $blue;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        border-radius: inherit;
        transform: scale(1);
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: 0 0 2rem transparentize($blue, 1);        
    }    

    &:hover,
    &:focus{
        
        &::before{
            box-shadow: 0 0 3rem transparentize($blue, 0.7);
            transform: scale(1.05 , 1.1);
        }
    }    
}

.btn-arrow{
    padding-left: 0;
    padding-right: $spacer*3;
    position: relative;
    font-weight: 500;

    &--light{
        color: $white;

        &::before{
            background: transparent;
        }

        &::after{
            background: url(./img/icon/chevron-light.svg) center center no-repeat;
            background-size: 0.4rem;
        }

        &:hover,
        &:focus-visible{
            &::before{
                background: $white;
            }

            &::after{
                background: url(./img/icon/chevron-dark.svg) center center no-repeat;
                background-size: 0.4rem;
            }
        }
    }

    &:hover,
    &:focus-visible{
        &::before{
            transform: scale(1.15);
            box-shadow: 0 0 2rem transparentize($blue, 0.5);
        }
    }

    &:active{
        border-color: transparent !important;
    }

    &::after,
    &::before{
         content: '';
         display: block;
         height: 1.8em;
         width: 1.8em;
         position: absolute;
         top: calc(50% - 0.9rem);
    }

    &::before{
        background: $white;
        border-radius: 0.25em;
        border: 1px solid $blue;
        transform: scale(1);
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 2rem transparentize($blue, 1);
        left: calc(100% - 2rem);
    }

    &::after{
        background: url(./img/icon/chevron-dark.svg) center center no-repeat;
        background-size: 0.4rem;
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
        right: 0.2em;
    }

    &--back{
        padding-left: $spacer*2.75;
        padding-right: 0;

        &::before,
        &::after{
            left: 0;
            right: calc(100% - 2rem);
        }

        &::after{
            transform: none;
        }
    }

    &--down{
        &::after{
            transform: rotate(-90deg);
        }
        
        &.toggle-open::after{
            transform: rotate(90deg);
        }
    }    
}

.btn-simple{
    appearance: none;
    border: none;
    background: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: inherit;
    font-weight: 500;

    &:hover,
    &:focus{
        text-decoration: underline;
    }
}

.btn-search{
    padding-right: 3.5em !important;
    position: relative;

    &::after {
        font-family: $font-icon;
        content: 'search';
        font-size: 1.45em;
        font-weight: 300;
        position: absolute;
        right: 1em;
        top: calc(50% - 0.75em);
        color: $blue;
    }    
}

.btn-external{
    @extend .btn-outline;
    padding-right: 3.5em !important;
    position: relative;

    &::after {
        font-family: $font-icon;
        content: 'open_in_new';
        font-size: 1.45em;
        font-weight: 300;
        position: absolute;
        right: 1.2em;
        top: calc(50% - 0.8em);
        color: $blue;
    }    
}

.btn-add{
    @extend .btn-arrow;
    padding-right: 2.5em !important;
    position: relative;

    &::after {
        background: none !important;
        font-family: $font-icon;
        content: 'add' !important;
        line-height: 0.1;
        font-size: 1.45em;
        font-weight: 300;
        position: absolute;
        top: calc(50% - 1.75em) !important;
        right: -0.15em !important;
        color: $black;
    }    
}

.btn-email{
    @extend .btn-arrow;

    &::after{
        background: none;
        transform: rotate(0);

        font-family: $font-icon;
        content: 'mail';
        font-variation-settings: 'FILL' 1, 'opsz' 20;
        font-size: 1.35em;
        font-weight: 300;
        position: absolute;
        top: calc(50% + 0.1em);
        right: -0.08em;
        transform: translateY(-50%);
    }
}

.btn-save{
    @extend .btn-outline;
    font-weight: 500;
    padding-left: 3.25em;

    &::after{
        font-family: $font-icon;
        content: 'save';
        font-variation-settings: 'FILL' 1;
        font-size: 1.35em;
        font-weight: 400;
        position: absolute;
        top: 1.2em;
        left: 1em;
        line-height: 0.1;
        text-decoration: none;
    }

    &:hover,
    &:focus{
        color: $black;
    }
}

.btn-excel,
.btn-download,
.btn-print{
    @extend .btn-primary;
}

.btn-excel {
    display: inline-flex;
    align-items: center;
    padding-left: 1.125em;
    padding-right: 1.125em;

    &::after {
        content: url(./img/icon/icon-excel.svg);
        display: block;
        margin-left: 1rem;
        height: 24px;
    }
}

.btn-download,
.btn-print {
    padding-left: 1.875em;
    padding-right: calc(1.875em + 28px);

    &::after {
        font-family: $font-icon;
        content: 'download_2';
        font-variation-settings: 'FILL' 1, 'opsz' 20;
        font-size: 1.75em;
        font-weight: 300;
        position: absolute;
        top: 50%;
        right: 0.65em;
        transform: translateY(-50%);
    }
}
.btn-print::after { content: 'print'; }

.btn-danger{
    color: $black;
    font-weight: 500;
    background: #FF5252;
    border-color: #FF5252;
    
    &:hover,
    &:focus{
        color: $black;
        background: darken(#FF5252, 10%);
        border-color: #FF5252;
    }
}